@page "/characters"
@inject HttpClient Http

<h1>Characters</h1>

@if (mode == 0)
{
    <button class="btn btn-primary" @onclick="AddCharacter">Add character</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Power</td>
                <td>XP</td>
                <td>Level</td>
                <td>Gear tier</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in characters)
            {
                <tr>
                    <td>@row.Name</td>
                    <td>@row.Power</td>
                    <td>@row.Xp</td>
                    <td>@row.Level</td>
                    <td>@row.GearTier</td>
                    <td>
                        <button class="btn btn-outline-info" @onclick="() => EditCharacter(row)">Edit</button>
                        <button class="btn btn-warning" @onclick="() => RemoveCharacter(row)">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (mode == 1)
{
    <EditForm Model="@current" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p class="form-group">
            <label>
                Character name:
                <InputText class="form-control" @bind-Value="current.Name" />
            </label>
        </p>
        <p class="form-group">
            <label>
                Power:
                <InputNumber min="0" class="form-control" @bind-Value="current.Power" />
            </label>
        </p>
        <p class="form-group">
            <label>
                XP:
                <InputNumber min="0" class="form-control" @bind-Value="current.Xp" />
            </label>
        </p>
        <p class="form-group">
            <label>
                Level:
                <InputNumber min="0" class="form-control" @bind-Value="current.Level" />
            </label>
        </p>
        <p class="form-group">
            <label>
                Gear tier:
                <InputNumber min="0" class="form-control" @bind-Value="current.GearTier" />
            </label>
        </p>
        <button class="btn btn-primary" type="submit">Save</button>

    </EditForm>
} else if(mode == 2)
{
    <h3>Working with server...</h3>
}

@code {
    private List<Character> characters;
    private Character current;
    private byte mode = 0;

    private async void HandleValidSubmit()
    {
        mode = 2;
        await Http.PostProtobufAsync("character", current);
        await ReloadTable();
        mode = 0;
    }

    private void AddCharacter()
    {
        current = new Character() { Name = "new" };
        mode = 1;
    }

    private void RemoveCharacter(Character row)
    {
        characters.Remove(row);
    }

    private void EditCharacter(Character row)
    {
        current = row;
        mode = 1;
    }

    private async Task ReloadTable()
    {
        var response = await Http.GetFromProtobufAsync<AllCharacter>(AllCharacter.Parser, "characters");
        characters = response.Characters.ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        characters = new List<Character>();
        mode = 2;
        await ReloadTable();
        mode = 0;
    }
}
